body {
	font: 14pt/1.5 Helvetica, Sans Serif;
	margin: 0;
	padding: 0;
	color: #666;
}

header {
	padding: 70px 0;
	text-align: center;
	background: #EFFAFF;
}
header .profile {
	width: 200px;
	height: 200px;
	background: #CAE6F6;
	color: #82B7D4;
	border-radius: 100%;
	display: inline-block;
}
header h1 {
	font-size: 2.5em;
	color: #76CDF4;
	font-weight: bold;
}


#about {
	padding: 100px 0;
}
#about .content {
	width: 700px;
	min-height: 300px;
	margin: auto;
}
footer {
	padding: 20px 0;
}
footer .content {
	width: 90%;
	margin: auto;
	color: #ddd;
	font-weight: bold;
	padding-top: 20px;
	border-top: 3px solid;
}